TriMet        ^ es ^ RAIL ^ F;S      ^      ^      ^     ^        ^ <h2>Para su seguridad, preste atención</h2><p>Informe a un empleado de TriMet sobre objetos o comportamientos sospechosos, o llame al 9-1-1.</p>

<h2>TITLE</h2>
<p>CONTENT
    <a href="URL" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', 'URL']);">More</a> 
</p>

<h2>Para su seguridad, preste atención</h2>
<p>Informe a un empleado de TriMet sobre objetos o comportamientos sospechosos, o llame al 9-1-1.
</p>

<h2>¡Deténgase!</h2>
<p>Mire a ambos lados antes de cruzar las vías de MAX.
    <a href="URL" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', 'URL']);">más</a> 
</p>

<h2>Taking MAX into town?</h2>
<p>Get schedules, travel tips, destination ideas and more. 
    <a href="/schedules/maxredline.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/schedules/maxredline.htm']);">MAX Red line info</a>
</p>
<h2>Mobile ticketing coming spring 2013</h2>
<p>iPhone and Android owners: Soon, you'll be able to buy and use TriMet fares instantly on your phone! 
    <a href="/mobiletickets/" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/mobiletickets/']);">More</a>
</p>
<h2>Fare changes effective September 1, 2012</h2>
<p>No more zones, no more Free Rail Zone, $2.50 Adult fare, value pricing on day passes.
    <a href="/alerts/farechanges.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/alerts/farechanges.htm']);">More</a>
</p>


<h2>Taking MAX into town?</h2>
<p>Get schedules, travel tips, destination ideas and more. <a href="/schedules/maxredline.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads',
'ClickTo', '/schedules/maxredline.htm']);">MAX Red line info</a></p>

<h2>See something? Say something.</h2>
<p>If you see suspicious behavior or a suspicious package, or if there is an emergency or unsafe situation on board, tell a TriMet employee or call 9-1-1.</p><h2>Mobile ticketing coming spring 2013</h2>
<p>iPhone and Android owners: Soon, you'll be able to buy and use TriMet fares instantly on your phone! 
<a href="/mobiletickets/" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/mobiletickets/']);">More</a></p>

<h2>Buy a monthly pass now!</h2>
<p>Why wait? Skip the lines and buy your next month's pass as early as the 20th of each month.
<a href="/fares/wheretobuy.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/fares/wheretobuy.htm']);">Where to buy</a>
</p>


<h2>Taking MAX into town?</h2>
<p>Get schedules, travel tips, destination ideas and more. 
<a href="/schedules/maxredline.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/schedules/maxredline.htm']);">MAX Red line info</a></p>

<h2>Mobile ticketing coming spring 2013</h2>
<p>iPhone and Android owners: Soon, you'll be able to buy and use TriMet fares instantly on your phone! 
<a href="/mobiletickets/" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads','ClickTo', '/mobiletickets/']);">More</a></p>

<h2>Grab a bite on the way</h2>
<p>Food and beverage concessions are located at one or more of the stops or stations on your trip plans.
<a href="/concessions/where.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads',
'ClickTo', '/concessions/where.htm']);">More</a></p>

<h2>Winter weather riding tips</h2>
<p>Here's what you need to know when a snow/ice storm hits.
<a href="/howtoride/winterweather.htm" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/howtoride/winterweather.htm']);">More</a>
</p>

<h2>Get the Gear</h2>
<p>Order TriMet mugs, bags, t-shirts, sweatshirts and more in the TriMet Gear Store at trimet.org/gear.
    <a href="/gear/" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/gear/']);">More</a> 
</p>
<h2>Grab a bite on the way</h2>
<p>Food and beverage concessions are located at one or more of the stops or stations on your trip plans.
    <a href="/consessions/where" onclick="_gaq.push(['_trackEvent', 'Trip Planner Ads', 'ClickTo', '/concessions/where']);">More</a> 
</p>
