<%inherit file="base.mako"/>
<%
    has_rules = True if 'rules' in locals() else False
    rule_list = []
    if has_rules:
        rule_list = rules 
%>
<%def name="title()">Wules Info</%def>
<%def name="app_css()">
    <link rel="stylesheet" href="/css/stopsstations.css" type="text/css" />
</%def>
<%def name="meta_data()">
    <meta name="Keywords"    content="CarShare, Zipcar, car2go, map"/>
    <meta name="Description" content="Show CarShare on a map, baby..."/>
</%def>

<h1>Wules</h1>

%for r in rule_list:
    ${r}
%endfor